body {
  font-family: 'Bree Serif', serif;
  background-color: #f4fefd;
  color: #043434;
  padding: 20px;
  margin: 0;
  
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto 10px;
  text-align: center;
}


.logo {
  width: 250px;
  height: auto;
  margin-bottom: 0px;
}

.title-section h1 {
  font-size: 2em;
  margin: 0;
  margin-bottom: 2px;
  margin-top: -38px;
}

.title-section p {
  font-size: 1em;
  margin-top: 0px;
  
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
  
}

.input-group {
  margin-bottom: 15px;
  width: 350px;
}

.input-group input,
.input-group select {
  padding: 8px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.principal-row {
  margin-bottom: 10px;
}

.principal-row input {
  margin-bottom: 5px;
  width: 170px;
  display: inline-block;
}

button {
  padding: 10px 20px;
  background: #043434;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #065656;
}

#results table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

#results th, #results td {
  border: 1px solid #043434;
  padding: 8px;
  text-align: center;
}

#results th {
  background-color: #d2f0f0;
  color: #043434;
}

#results tr:nth-child(even) {
  background-color: #f9f9f9;
}

footer {
  text-align: center;
  margin-top: 40px;
  font-size: 0.9em;
}
footer a {
  color: #043434;
  text-decoration: underline;
}

@media print {
  body {
    background: #fff;
    color: #000;
  }

  .center button, #printBtn, .popup, .close {
    display: none !important;
  }

  header, form, #results, footer {
    display: block !important;
  }

  table {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  .logo {
    width: 100px;
    margin-bottom: 4px;
  }

  .input-group {
    width: 100%;
    margin-bottom: 20px;
  }

  .principal-row input {
    width: 100%;
    margin-bottom: 10px;
  }

  button {
    font-size: 16px;
    width: 100%;
  }
}
.form-box {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  max-width: 400px;
  margin: 0 auto;
}
input:focus, select:focus {
  outline: 2px solid #043434;
  background-color: #f0fafa;
}
.generated-time {
  text-align: right;
  font-size: 0.9em;
  color: #666;
  margin-bottom: 10px;

}

/* Print watermark */
@media print {
  body::before {
    content: "FS & Partners";
    position: fixed;
    top: 40%;
    left: 20%;
    font-size: 80px;
    opacity: 0.08;
    transform: rotate(-30deg);
    color: #043434;
  }
  button, select, input { display: none !important; }
}
